<table>
  <thead>
    <th>Cellar</th>
    <th>Wine</th>
    <th>Year</th>
    <th>Number</th>
    <th>Comment</th>
    <th>Format</th>
    <th></th>
    <th></th>
    <th></th>
  </thead>
  <tbody>
    <%= render @bottles %>
  </tbody>
</table>
