<% if signed_in? %>
<p>You currently have <%= pluralize(@cellars.count, 'cellar') %>, containing <%= pluralize(@bottles.count, 'bottle') %> of wine.
<% else %>
<div id="not_signed_in">
<p>You have reached The Wine Cellar. Please <%= link_to 'sign in', signin_path %> or <%= link_to 'sign up', signup_path %>.</p>
</div>
<% end %>
